.main{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    padding: 2rem;
    margin: 2rem 0;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    justify-items: center;
    overflow-x: hidden;
}

.header{
    display: flex;
    flex-direction: column;
}

.header h2, .header p{
    color: #010101
}

.header h2{
    font-size: 1.5rem;
    margin: 0;
}

.header p{
    font-size: 1rem;
    margin: 1rem 0
}

.lead_capture{
    max-width: 600px
}

.lead_capture div{
    margin: 0 0 0.5rem
}

.name_section, .pname_section, .fname_section, .email_section, .phone_section, .message_section{
    display: flex;
}

.name_section{
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem
}

.fname_section, .pname_section, .email_section, .phone_section, .message_section{
    flex-direction: column;
}

.label{
    font-weight: 500;
    margin: 0 0 0.5rem 0;
    display: block;
}

input, textarea{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem
}

textarea{
    resize: none;
    min-height: 150px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.submit_btn{
    padding: 1rem;
    background-color: #50B498;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.2s;
}

.submit_btn:hover{
    box-shadow: 0 4px 8px #00000033;
    background-color: #4bc7a4;
    transition: 0.4s;
}

@media (max-width: 1024px) and (min-width: 769px){
    .main {
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem;
    }

    .lead_capture{
        max-width: 500px
    }
}

@media (max-width: 768px){
    .main{
        padding: 1rem;
        grid-template-columns: 1fr;
    }

    .header{
        text-align: center;
    }

    .lead_capture{
        max-width: 90%;
    }

    .submit_btn{
        padding: 0.8rem;
        font-size: 1rem;
    }
}

@media (max-width: 480px){
    .main{
        padding: 0.5rem
    }

    .header h2{
        font-size: 1.2rem;
    }

    .header p{
        font-size: 0.9rem;
    }

    .leader_capture{
        max-width: 100%;
    }

    .submit_btn{
        padding: 0.6rem;
        font-size: 0.9rem;
    }

    input, textarea{
        font-size: 0.9rem;
        padding: 0.4rem;
    }

    .name_section{
        flex-direction: column;
    }
}